doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    div(class='container')
      include url
      
      block content
      
        
    
    
  script(src='/bootstrap/js/jquery-2.1.0.js')
  script(src='/bootstrap/js/bootstrap.js')